.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
  margin: auto;
  padding-bottom: 50px;
  justify-content: space-between;
}

@media (min-width: 1259px){
  .container:after {
    content: "";
    flex: auto;
  }  
}

@media (max-width: 1259px){
  .container{
    max-width:1060px; 
  }
  .container:after {
    content: "";
    flex: auto;
  }  
}

@media (max-width: 945px){
  .container{
    max-width:631px; 
  }
  .container:after {
    content: "";
    flex: auto;
  }
  
}

@media (max-width: 630px){
  .container{
    justify-content: center; 
  }
}


.thumbnail {
  height: 295px;
  width: 295px;
  margin: 10px;
  background-size: cover;
}