.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
  margin: auto;
  padding-bottom: 50px;
  justify-content: center;
}
.container .filler{
  height: 295px;
  width: 0px;
}
.thumbnail {
  height: 295px;
  width: 295px;
  margin: 10px;
  background-size: cover;
}