.PictureShowContainer{
  height: 100%;
  width: 100%;
  padding-top: 35px;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.PictureShowCenterContainer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 80%;
  flex: 1;
}


.pictureContainer {
  max-width: 100%;
  max-height: 80%;
  height: 80%;
  width: 1280px;
  pointer-events: all;
  align-self: center;
}

.pictureContainer div{
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pictureShowNav {
  height: 50px;
  width: 50px;
  color: rgba(0,0,0,.3);
  background-color: #dfdfdf;
  border-radius: 50%;
  align-self: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  border: 1px solid #666666;
  margin: 50px;
  flex: none;
}

.pictureShowNav:hover{
  background-color: #9f9f9f;
  color: rgba(0,0,0,.1);
}

.dotContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #3f3f3f;
  margin: 10px;
  /* border-radius: 50%; */
  pointer-events: all;
  cursor: pointer;
  border: 1px solid #3f3f3f;
  background-size: cover;
}

.dot.selected {
  background-color: #9f9f9f;
  border: 1px solid #9f9f9f;
}

.dot:hover {
  background-color: #9f9f9f;
  border: 1px solid white;
}



@media screen and (max-width: 620px) {
  .PictureShowContainer{
    padding-top: 73px;
  }
}

@media screen and (max-width: 960px) {
  .pictureShowNav{
    display:none;
  }

  .PictureShowCenterContainer {
    max-width: 95%;
  }
}